

.square {
    background-color: black;
    color: white;
    height: 3em;
    width: 3em;
    float: left;
    margin: .2em;
    font-size: 5em;
    text-align: center;
    line-height: 3em; 
    vertical-align: middle;
}


